# Supabase (REQUIRED)
EXPO_PUBLIC_SUPABASE_URL=https://jnnofhduxjvjxnruhnua.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impubm9maGR1eGp2anhucnVobnVhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg2OTg4ODIsImV4cCI6MjA4NDI3NDg4Mn0.inWiGf2Dpi4WkwgM4tgvljEBZJUxvJg1OktZHLttMWc


# Web Backend (OPTIONAL - only needed when entitlements backend exists)
# EXPO_PUBLIC_WEB_BASE_URL=https://your-web-domain.com
